<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <div class="welcome-banner">
            <div class="container">
                <div class='container-fluid customcolor text-center'>
                    <div class='row justify-content-center'>
                        <h1>Welcome to our Sports Store</h1>
                        <p>Find the best equipment for your sports activities.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class='container-fluid customcolor text-center'>
                <div class='row justify-content-center'>
                    <nav>
                        <ul class="nav justify-content-center" style="background-color: rgb(12, 190, 226);">
                            <li class="nav-item">
                                <a class="nav-link active" style="color: white;" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" style="color: white;" aria-current="page" href="Products.html">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" style="color: white;" aria-current="page" href="Contact Us.html">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section id="products" class="featured-product">
        <div class="container">
            <h2>Featured Products - on sale!!</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="/images/punching_bag.jpeg" class="card-img-top" alt="punching" style="max-width: 80%; height: auto;">
                        <div class="card-body">
                            <h3 class="card-title">Punching Bag</h3>
                            <p class="card-text">Great for power boxing</p>
                            <a href="Buy Now.html" class="btn btn-primary">Buy Now - only $300!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class='row justify-content-center'>
                Contact us: info@sportsstore.com | Phone: 0123-456-789 <br><br>
                &copy; Copyright 2024 Sports Corporation
            </div>
        </div>
    </footer>
</body>
</html>
